
.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: start;
    align-items: flex-start;
    gap: 20px;
}

.itemProduct {
    display: grid;
    grid-template-columns: auto;
    /* border: 1px solid var(--black); */
    /* width: 290px; */
    padding: 12px;
    height: 400px;
}

.imageProduct {
    margin: auto;
    width: 200px;
    height: 200px;
}

.infoProduct {
    display: grid;
    grid-template-columns: auto;
}

.available {
    color: var(--green);
    font-weight: 500;
}

.title {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 24px;
    color: var(--primary);
    font-weight: 500;
    text-align: left;
}

.priceWrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

.price {
    display: grid;
    grid-template-columns: auto;
}

.measuring {
    display: grid;
    justify-content: end;
}

.priceValue {
    font-size: 24px;
    color: var(--green);
    font-weight: 500;
}

.oldPriceValue {
    font-size: 14px;
    text-decoration: line-through;
    color: var(--red);
}

.wrapperNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notFound {
    font-size: 70px;
    color: var(--primary);
}