
.wrapper {
  /* width: 1280px; */
  display: grid;
  padding: 0;
  margin: auto;
  margin-top: 20px;
  grid-template-columns: 320px auto;
  grid-template-areas: 
  "BreadCrumbs BreadCrumbs"
  "menu titleAndCategories"
  "menu products"
  "menu description";
  grid-template-rows: auto auto 1fr auto;
  gap: 20px;
  /* align-items: flex-start; */
  /* justify-content: center; */
}

.BreadCrumbs {
  grid-area: BreadCrumbs;
  height: 20px;
}

.menu {
  grid-area: menu;
}

.titleAndCategories{
  grid-area: titleAndCategories;
}

.title {
  height: 40px;
  grid-area: title;
}

.СhildСategories {
  grid-area: СhildСategories;
}

.products {
  grid-area: products;
}

.description {
  grid-area: description;
}