
.wrapper {
  width: 1280px;
  display: grid;
  padding: 0;
  margin: auto;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "BreadCrumbs BreadCrumbs"
    "menu title"
    "menu СhildСategories"
    "menu products"
    "menu description"
    ;
  gap: 20px;
  /* align-items: flex-start; */
  /* justify-content: center; */
}

.BreadCrumbs {
  grid-area: BreadCrumbs;
  height: 20px;
}

.menu {
  grid-area: menu;
}

.title {
  height: 40px;
  grid-area: title;
}

.СhildСategories {
  grid-area: СhildСategories;
}

.products {
  grid-area: products;
}

.description {
  grid-area: description;
}