
.subscribe {
  background: var(--primary);
  border-radius: 0 0 0 50px;
  cursor: default;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr  auto auto auto 1fr;
  grid-template-areas: 
    ". title form descr ."
  ;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 55px;
}

.title {
  grid-area: title;
}

.form {
  grid-area: form;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 430px;
  gap: 10px;
}


.descr {
  grid-area: descr;
  white-space: nowrap;
}

.input {
  width: 300px;
}


@media(max-width: 940px) {
  .input {
    width: 200px;
  }
  .form {
    width: 340px;
  }
}


@media(max-width: 900px) {
  .wrapper {
    gap: 10px;
    height: 70px;
  }
}

@media(max-width: 760px) {
  .wrapper {
    grid-template-columns: 1fr  auto 1fr;
    grid-template-areas: 
    ". title ."
    ". form ."
    ". descr ."
    ;
    height: auto;
    padding: 20px;
    justify-items: center;
  }
  
  .form {
    /* width: 450px; */
    width: 100%;
    justify-content: center;
  }

  .input {
    width: 320px;
  }

  .button {
    height: 35px;
    width: 120px;
  }

  .title {
    text-align: center;
  }
}

@media(max-width: 490px) {
  .input {
    /* width: 290px; */
    width: 100%;
  }
  .form {
    width: 320px;
    flex-wrap: wrap;
  }
}