

.nav {
  height: 41px;
  display: grid;
	justify-content: center;
  cursor: pointer;
	background: var(--cream);
	grid-template-columns: 1fr auto auto 1fr auto 1fr;
	gap: 0;
	grid-template-areas:
		". wrapper wrapper . wrapper_user .";

  font-size: 15px;
  background: var(--orange-light);
  color: var(--black);
}

.wrapper {
  display: flex;
  gap: 20px;
  grid-area: wrapper;
  align-items: center;
}

.wrapper_user{
  display: flex;
  align-items: center;
  gap: 20px;
  grid-area: wrapper_user;
}

.logo {
  width: 180px;
  text-align: left;
  
}

.phone {
  width: 270px;
  display: flex;
  gap: 10px;
  font-size: 17px;
  font-weight: 700;
}


.cart {
  width: 250px;
}

.search {
  width: 500px;
}


.wrapper_block_2 {
  display: grid;
  grid-template-columns: 175px 603px 305px 250px;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 93px;
}

.wrapper_menu {
  width: auto;
  height: 35px;
  background: var(--primary);
  color: var(--white);
  display: grid;
  grid-template-columns: auto 250px 340px 170px 284px 230px auto;
  grid-template-areas: 
    ". menu_1 menu_2 menu_3 menu_4 menu_5 menu_6"
  ;
  align-items: center;
}

.menu_1 {
  grid-area: menu_1;
  /* width: 20%; */
  text-align: center;
  text-transform: uppercase;
}
.menu_2 {
  grid-area: menu_2;
  /* width: 20%; */
  text-align: center;
}

.menu_3 {
  grid-area: menu_3;
  /* width: 20%; */
  text-align: center;
}

.menu_4 {
  grid-area: menu_4;
  /* width: 20%; */
  text-align: center;
}

.menu_5 {
  grid-area: menu_5;
  /* width: 20%; */
  text-align: center;
}

.menu_6 {
  grid-area: menu_6;
  display: flex;
  gap: 10px;
  padding-left: 10px;
  text-align: center;
  text-transform: uppercase;
  height: 100%;
  align-items: center;
  /* width: 20%; */
  background: var(--orange-light);
  color: var(--black);
  font-weight: 00;
}
