.menu {
  padding-left: 20px;
  width: 320px;
  padding: 0;
  height: auto;
}

.firstLevel {
  display: grid;
  position: relative;
  grid-template-columns: 1fr auto;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--white);
  background: var(--primary);
  min-height: 36px;
  border-top: 1px solid var(--white);
}

.firstLink {
  display: flex;
  align-items: center;
  padding-left: 15px;
  min-height: 36px;
  width: 100%;
}

.firstLevelList {
  display: block;
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 0;
}

.firstLevelList:first-child {
  border-top: none;
}

.arrowActive {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--white);
  width: 36px;
  height: 36px;
}

.secondLevelList {
  background: var(--white);
  /* border-top: 1px solid var(--primary); */
  list-style: none;
  padding-left: 0;
  /* border-left: 1px solid var(--primary); */
  /* border-right: 1px solid var(--primary); */
}


.secondLevel {
  /* padding: 10px; */
  display: grid;
  align-items: center;
  color: var(--black);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  min-height: 36px;
  padding-left: 15px;
  /* border-top: 1px solid var(--primary); */
  /* border-left: 1px solid var(--primary); */
  /* border-right: 1px solid var(--primary); */
  /* outline: 1px solid var(--primary); */
  /* border-radius: none; */
}

/* .thirdLevel {
  padding: 10px;
  color: var(--black);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid var(--primary);
  border-left: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
} */

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.levelActive {
  background: var(--orange-light);
  color: var(--primary);
  font-weight: 700;
}

.levelActiveHover:hover {
  background: var(--orange-light);
  color: var(--primary);
  font-weight: 700;
}

.levelActiveFirstHover:hover {
  font-weight: 900;
}

.levelActiveFirst {
  font-weight: 900;
}

.liItem {
  position: relative;
}

.link {
  height: auto;
  width: auto;
}