.menu {
  padding-left: 20px;
  width: 320px;
}

.firstLevel {
  display: grid;
  grid-template-columns: 1fr 14px 20px;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary);
  padding: 10px;
  border-bottom: 1px solid var(--white);
}

.firstLevelActive {

}

.secondLevel {
  padding: 10px;
  color: var(--black);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid var(--primary);
  border-left: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
}

.thirdLevel {
  padding: 10px;
  color: var(--black);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid var(--primary);
  border-left: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
}