.tag {
  display: inline-block;

  box-sizing: border-box;

  margin-right: 5px;

  border-radius: 20px;
  padding: 5px 10px;
  border: 1px solid var(--primary);
}

.tag:focus {
  outline: 1px solid var(--primary-hover-border);
}

.m {
  font-size: 12px;
  line-height: 12px;
}

.cream {
  color: var(--black);
  background: var(--cream);
}