html,
body {
	margin: 0;
	padding: 0;

	color: var(--grey);
	background: var(--white);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

:root {
	--primary: #000000;
	--primary-hover: #095191;
	--primary-hover-border: #063C6B;
	--black: #000000;
	--white: #FFF;
	--red: #C32727;
	--green: #31BD00;
	--green-hover: #319F09;
	--grey: #666;
	--orange: #FFAD1C;
	--orange-hover: #DC9419;
	--orange-light: #FACE7E;
	--cream: #FEFAF2;
	--orange-border: #BB9A5E;
	--blue-border: #255680;
	--search: #FDE7C1;
	--aliceblue: aliceblue;
	--title-blue: #0075BD;
	--title-black: #242424;
	--text: #666;
	--price: #244A5D;
	--discount-price: #39A24B;
	--font-family: "Noto Sans", sans-serif;
}
