
.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.wrapper_link {
    border: 2px solid var(--primary);
    padding: 5px;
    border-radius: 10px;
    font-weight: 500;
    margin: 3px;
    background: var(--orange-light);
}

.link {
    color: var(--black);
}